# Node / TypeScript
node_modules/
dist/
.tmp/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.azurite/

# Local environment
local.settings.json
.env

# VS Code

# OS
.DS_Store
Thumbs.db
